<!DOCTYPE html>
<html lang="en" ng-app="HealthForge">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>HealthForge Tech Test</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/healthforge-app.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="app/healthforge-app.start.js"></script>
</head>
<body ng-controller="MainCtrl">
<div style="margin: 10px;">
    Search <input type="text" ng-model="searchPatients">
    <table>
        <tr>
            <th>Expand</th>
            <th>
                <a href="" ng-click="sortType='firstName'; sortReverse = !sortReverse">First Name</a>
            </th>
            <th>
                <a href="" ng-click="sortType='lastName'; sortReverse = !sortReverse">Last Name</a>
            </th>
            <th>
                <a href="" ng-click="sortType='dateOfBirth'; sortReverse = !sortReverse">Date of Birth</a>
            </th>
        </tr>
        <tbody ng-repeat="patient in patients | orderBy:sortType:sortReverse | filter:searchPatients">
            <tr>
                <td>
                    <a class="btn btn-link" ng-init="toggle[$index] = false" ng-click="toggle[$index] = !toggle[$index]">
                        <span class="glyphicon glyphicon-plus-sign" ng-if="!toggle[$index]"></span>
                        <span class="glyphicon glyphicon-minus-sign" ng-if="toggle[$index]"></span>
                    </a>
                </td>
                <td>{{patient.firstName}}</td>
                <td>{{patient.lastName}}</td>
                <td ng-bind="patient.dateOfBirth | date:'dd MMM yyyy'"></td>
            </tr>
            <tr ng-if="toggle[$index]">
                <td></td>
                <td>Prefix</td>
                <td>{{patient.prefix}}</td>
                <td></td>
            </tr>
            <tr ng-if="toggle[$index]">
                <td></td>
                <td>First Name</td>
                <td>{{patient.firstName}}</td>
                <td></td>
            </tr>
            <tr ng-if="toggle[$index]">
                <td></td>
                <td>Last Name</td>
                <td>{{patient.lastName}}</td>
                <td></td>
            </tr>
            <tr ng-if="toggle[$index]">
                <td></td>
                <td>Gender</td>
                <td>{{patient.gender}}</td>
                <td></td>
            </tr>
            <tr ng-if="toggle[$index]">
                <td></td>
                <td>Active</td>
                <td>{{patient.active}}</td>
                <td></td>
            </tr>
            <tr ng-if="toggle[$index]">
                <td></td>
                <td>...</td>
                <td>...</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>